<mat-card class="col-xl-6">
    <p class="mat-display-1 mb-3">Nuevo usuario</p>
    <form [formGroup]="formUsuario" class="row" 
        (ngSubmit)="onSubmit()">
        <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input matInput type="text"
                formControlName="nombre">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Usuario</mat-label>
            <input matInput type="text"
                formControlName="usuario">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="text"
                formControlName="correo">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Constraseña</mat-label>
            <input matInput type="password"
                formControlName="contrasenia">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password"
                formControlName="comprobacion">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Pregunta de seguridad</mat-label>
            <input matInput type="text"
                formControlName="pregunta">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Respuesta</mat-label>
            <input matInput type="password"
                formControlName="respuesta">
        </mat-form-field>

        <button mat-raised-button color="primary" 
            class="col-11 py-2 mx-auto">
            Registrar usuario
        </button>
    </form>
</mat-card>