<h1 mat-dialog-title>Nueva cita</h1>
<div mat-dialog-content>
    <div class="row" *ngIf="!formReady">
        <div class="col-xl-6 mx-auto" style="height: 200px;">
            <div class="row h-100 overflow-hidden">
                <mat-spinner class="m-auto"></mat-spinner>
            </div>
        </div>
    </div>
    <form [formGroup]="formGroup" *ngIf="formReady">
        <mat-form-field class="mb-1 col-xl-12">
            <mat-label>Servicio</mat-label>
            <textarea matInput formControlName="servicioDetail"
            [matAutocomplete]="auto" (keyup.enter)="setPrecios()"></textarea>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" 
                    [value]="option.nombre" (click)="setPrecios()">
                    {{option.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.get('servicioDetail').invalid">
                {{alertaService.errorInput(formGroup.get('servicioDetail'))}}
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="mb-1 col-xl-12">
            <mat-label>Precio</mat-label>
            <input matInput type="number" min="0.01" step="0.01" formControlName="precio">
            <span matPrefix>$&nbsp;</span>
            <mat-hint>{{quantityMessage}}</mat-hint>
            <mat-error *ngIf="formGroup.get('precio').invalid">
                {{alertaService.errorInput(formGroup.get('precio'))}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-1 col-xl-12">
            <mat-label>Empleado</mat-label>
            <input matInput type="text" formControlName="empleado" readonly>
            <mat-error *ngIf="formGroup.get('empleado').invalid">
                {{alertaService.errorInput(formGroup.get('empleado'))}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">
        Cancelar  
      </button>
    <button mat-button (click)="sendAppointment()" *ngIf="formReady"
      cdkFocusInitial [disabled]="formGroup.invalid">
        Enviar
    </button>
</div>