<div class="centrar">
    <mat-card class="col-xl-6 col-lg-8 col-md-12 mat-elevation-z8 mb-3">
        <p class="mat-display-1 mb-3">
            Olvide la contraseña
        </p>
        <form [formGroup]="formolvide" class="row" 
            (ngSubmit)="onSubmit()">

            <mat-form-field class="col-12 mb-1" *ngIf=hide>
                <mat-label>Ingresa el usuario</mat-label>
                <input matInput type="text"
                    formControlName="usuario">
                    <mat-error *ngIf="formolvide.get('usuario').invalid">
                        {{alertaService.errorInput(formolvide.get('usuario'))}}
                    </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 mb-1" *ngIf=show>
                <mat-label>Ingresa la pregunta de seguridad</mat-label>
                <input  matInput type="text"
                    formControlName="pregunta"  >
                    <mat-error *ngIf="formolvide.get('pregunta').invalid">
                        {{alertaService.errorInput(formolvide.get('pregunta'))}}
                    </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 mb-1" *ngIf=show>
                <mat-label>Ingresa la respuesta de seguridad</mat-label>
                <input matInput type="password"
                    formControlName="respuesta">
                    <mat-error *ngIf="formolvide.get('respuesta').invalid">
                        {{alertaService.errorInput(formolvide.get('respuesta'))}}
                    </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" 
                class="col-11 py-2 mx-auto mt-1"
                [disabled]="formolvide.invalid" *ngIf=show>
                Valida la información
            </button>
        </form>

        <form [formGroup]="formolvide" class="row" 
        (ngSubmit)="ingresa()">
        <button mat-raised-button color="primary" 
                class="col-11 py-2 mx-auto mt-1" *ngIf=hide>
                Valida la informaciónn
        </button>
        </form>
    </mat-card>
</div>
