<div class="centrar">
    <mat-card class="col-xl-6 col-lg-8 col-md-12 mat-elevation-z8 mb-3">
        <p class="mat-display-1 mb-3">
            Actualizar contraseña
        </p>
        <form [formGroup]="formactualizar" class="row" 
            (ngSubmit)="onSubmit()">
            
            <mat-form-field class="col-12 mb-1">
                <mat-label>Ingresa nueva contraseña</mat-label>
                <input matInput type="text"
                    formControlName="contrasenia">
                    <mat-error *ngIf="formactualizar.get('contrasenia').invalid">
                        {{alertaService.errorInput(formactualizar.get('contrasenia'))}}
                    </mat-error>
            </mat-form-field>
            
            <mat-form-field class="col-12 mb-1">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="password"
                    formControlName="confirmarContrasenia">
                    <mat-error *ngIf="formactualizar.get('confirmarContrasenia').invalid">
                        {{alertaService.errorInput(formactualizar.get('confirmarContrasenia'))}}
                    </mat-error>
            </mat-form-field>
            
    
            <button mat-raised-button color="primary" 
                class="col-11 py-2 mx-auto mt-1">
                Valida la información
            </button>
        </form>
    </mat-card>
</div>
