<h1 mat-dialog-title>Modificar servicio</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
      <mat-form-field class="mb-1">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
        <mat-error *ngIf="formGroup.get('nombre').invalid">
            {{alertaService.errorInput(formGroup.get('nombre'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mb-1">
        <mat-label>Duracion</mat-label>
        <input matInput type="text" formControlName="duracion">
        <mat-error *ngIf="formGroup.get('duracion').invalid">
            {{alertaService.errorInput(formGroup.get('duracion'))}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mb-1">
        <mat-label>Precio($)</mat-label>
        <input matInput type="text" formControlName="precio">
        <mat-error *ngIf="formGroup.get('precio').invalid">
            {{alertaService.errorInput(formGroup.get('precio'))}}
        </mat-error>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
      Cancelar  
    </button>
  <button mat-button [mat-dialog-close]="formGroup.value" 
    cdkFocusInitial [disabled]="formGroup.invalid">
      Enviar
  </button>
</div>