<p class="mat-display-1 text-center" *ngIf="producto != undefined">
    Compras de: {{producto}}
</p>
<div class="row">
    <div class="col-sm-1 col-2 mx-auto"
        [ngClass]="{'d-none': windowWidth >= 768}"
        (click)="newCompra()">
        <button mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3"
        [ngClass]="{'d-none': windowWidth < 768}"
        (click)="newCompra()">
        <button mat-raised-button color="primary"
            class="w-100 mt-2">
            Nueva compra
        </button>
    </div>
    <mat-form-field class="col-xl-10 col-lg-10 col-md-9 col-10">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input
            [disabled]="dataSource == undefined">
    </mat-form-field>
</div>
<div class="row">
    <div class="col-xl-12 mx-auto overflow-auto">
        <table mat-table [dataSource]="dataSource"
            class="w-100 mat-elevation-z8 mb-5">
            <ng-container matColumnDef="precioUnitario">
                <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
                <td mat-cell *matCellDef="let element">
                    ${{element.precioUnitario.toFixed(2)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">
                    {{element.cantidad}}
                </td>
            </ng-container>
            <ng-container matColumnDef="precioTotal">
                <th mat-header-cell *matHeaderCellDef>Precio Total</th>
                <td mat-cell *matCellDef="let element">
                    ${{element.precioTotal.toFixed(2)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha de Compra</th>
                <td mat-cell *matCellDef="let element">
                    {{element.fecha}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                    {{element.estado}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary"
                        matTooltip="Editar"
                        *ngIf="element.estado == 'En cola'"
                        (click)="modifyCompra(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                        matTooltip="Cancelar"
                        *ngIf="element.estado == 'En cola'"
                        (click)="cancelarCompra(element)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button color="primary"
                        matTooltip="Efectuar"
                        (click)="aprobarCompra(element)"
                        *ngIf="element.estado == 'En cola'">
                        <mat-icon>check</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row 
                *matHeaderRowDef="['precioUnitario', 'cantidad', 'precioTotal', 'fecha', 'estado', 'actions']">
            </tr>
            <tr mat-row 
                *matRowDef="
                let row; 
                columns: ['precioUnitario', 'cantidad', 'precioTotal', 'fecha', 'estado', 'actions'];">
            </tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">
                    <div class="my-5" *ngIf="dataSource.data.length == 0">
                        <p class="text-center">
                            {{message}}
                            <ng-template [ngIf]="!tableCharged">
                                <mat-progress-bar mode="indeterminate">
                                </mat-progress-bar>
                            </ng-template>
                        </p>
                    </div>
                    <div *ngIf="dataSource.data.length > 0">
                        No se encotraron coincidencias para "{{input.value}}"
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>